@import 'normalize.css';

:root {
    --text-black: #1e1e1e;
    --text-gray-light: #878787;
    --text-gray-dark: #3a3a3a;
    --border-gray: #e6e6e6;
    --border-gray-dark: #a8a8a8;
}

* {
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}